<div class="row recipeImg">
    <div class="col-md-12">
        <img src="" class="img-responsive" alt="">
    </div>
</div>
<div class="row recipeHeader">
    <div class="col-md-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row ctrlBtns">
    <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success">Add to cart</button>
            <button type="button" class="btn btn-warning">Edit Recipe</button>
            <button type="button" class="btn btn-danger">Delete Recipe</button>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Ingredients
    </div>
</div>