<div class="row">
  <div class="col-md-12">
    <h3>servers List</h3>
  </div>
  <div class="col-md-6">
    <label for="">server name</label>
    <input type="text" class="form-control mt-2" [(ngModel)]="serverName" />
  </div>
  <div class="col-md-6 d-flex justify-content-end align-items-end">
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
      Add New Server
    </button>
  </div>
</div>
<p *ngIf="serverCreated; else noServer">server was created, server name is {{serverName}}</p>
<ng-template #noServer>no server was created</ng-template>
<div class="row mt-5">
  <div *ngFor="let server of servers" class="serverHolder col-lg-4 mb-3"><app-server></app-server></div>
</div>
